body{
    font-family: sans-serif;
}

.container
{
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
}

.saisie
{
    
    display: flex;
    justify-content: space-around;
    height: 20px;
    align-items: center;
}

p{
    font-size: 0.8rem;
}


th
{
    border: 2px solid green;
}
td{
    border: 2px solid green;
}


